* text=auto !eol
/AUTHORS -text
/ChangeLog -text
Excel/OSWebServiceGUI.xlsm -text
Excel/clsOSInstance.cls -text
Excel/clsws_OSSolverServiceServic.cls -text
Excel/parIncVBA.xlsm -text
/INSTALL -text
/LICENSE -text
MSVisualStudio-v9/VISUALSTUDIOREADME.txt -text
MSVisualStudio-v9/algorithmicDiff/algorithmicDiff.vcproj -text
MSVisualStudio-v9/branchCutPrice/branchCutPrice.vcproj -text
MSVisualStudio-v9/cglCuts/cglCuts.vcproj -text
MSVisualStudio-v9/instanceGenerator/instanceGenerator.vcproj -text
MSVisualStudio-v9/osDip/osDip.vcproj -text
MSVisualStudio-v9/osExamples.sln -text
MSVisualStudio-v9/osModificationDemo/osModificationDemo.vcproj -text
MSVisualStudio-v9/osRemoteTest/osRemoteTest.vcproj -text
MSVisualStudio-v9/osResultDemo/osResultDemo.vcproj -text
MSVisualStudio-v9/osSolverDemo/osSolverDemo.vcproj -text
MSVisualStudio-v9/template/template.vcproj -text
/Makefile.Examples.in -text
/Makefile.am -text
/Makefile.in -text
/README -text
algorithmicDiff/Makefile.in -text
algorithmicDiff/OSAlgorithmicDiffTest.cpp -text
branchCutPrice/AUTHORS -text
branchCutPrice/LICENSE -text
branchCutPrice/LP/OS_lp.cpp -text
branchCutPrice/Makefile.in -text
branchCutPrice/Member/OS.cpp -text
branchCutPrice/Member/OS_cut.cpp -text
branchCutPrice/Member/OS_init.cpp -text
branchCutPrice/Member/OS_packer.cpp -text
branchCutPrice/Member/OS_user_data.cpp -text
branchCutPrice/Member/OS_var.cpp -text
branchCutPrice/TM/OS_tm.cpp -text
branchCutPrice/examplefiles.txt -text
branchCutPrice/include/OS.hpp -text
branchCutPrice/include/OS_cut.hpp -text
branchCutPrice/include/OS_init.hpp -text
branchCutPrice/include/OS_lp.hpp -text
branchCutPrice/include/OS_packer.hpp -text
branchCutPrice/include/OS_tm.hpp -text
branchCutPrice/include/OS_user_data.hpp -text
branchCutPrice/include/OS_var.hpp -text
cglCuts/Makefile.in -text
cglCuts/OSCglCuts.cpp -text
/configure -text
/configure.ac -text
data/CoinOS.opt -text
data/CppADTestLag.osil -text
data/bonminEx1.nl -text
data/eastborne.gms -text
data/eastborne.mod -text
data/eastborne.nl -text
data/eastborne.osil -text
data/genAssign.osil -text
data/genAssign.osol -text
data/knock.ospl -text
data/nonconvex.osil -text
data/osdip.parm -text
data/p0033.osil -text
data/parinc.mps -text
data/parincLinear.osil -text
data/parincQuadratic.osil -text
data/rosenbrockmod.osil -text
data/sendWithJobID.osol -text
data/smallIPBook.osil -text
data/smallIPBook.osol -text
data/spl1-b.osol -text
data/spl1.osil -text
data/spl1.osol -text
data/spl2-b.osol -text
data/spl2.osil -text
data/spl2.osol -text
data/spl3.osil -text
data/spl3.osol -text
data/tmp5.osil -text
data/tmp5.osol -text
data/wayneQuadratic.osil -text
instanceGenerator/Makefile.in -text
instanceGenerator/OSInstanceGenerator.cpp -text
osDip/Makefile.in -text
osDip/OSDipApp.cpp -text
osDip/OSDipApp.h -text
osDip/OSDipAppOld.cpp -text
osDip/OSDipBlockSolver.cpp -text
osDip/OSDipBlockSolver.h -text
osDip/OSDipBlockSolverFactory.cpp -text
osDip/OSDipBlockSolverFactory.h -text
osDip/OSDipFactoryInitializer.h -text
osDip/OSDipInterface.cpp -text
osDip/OSDipInterface.h -text
osDip/OSDipParam.h -text
osDip/OSDip_Main.cpp -text
osDip/osdip.parm.in -text
osDip/own.sty -text
osDip/solvers/OSDipBlockBearcatSolver.cpp -text
osDip/solvers/OSDipBlockBearcatSolver.h -text
osDip/solvers/OSDipBlockCoinSolver.cpp -text
osDip/solvers/OSDipBlockCoinSolver.h -text
osDip/solvers/OSDipBlockSlpSolver.cpp -text
osDip/solvers/OSDipBlockSlpSolver.h -text
osJavaDemo/OSJavaDemo.java -text
osJavaDemo/OSParameter.xml -text
osJavaDemo/answer.osrl -text
osJavaDemo/parincLinear.osil -text
osModificationDemo/Makefile.in -text
osModificationDemo/OSModificationDemo.cpp -text
osRemoteTest/Makefile.in -text
osRemoteTest/OSRemoteTest.cpp -text
osResultDemo/Makefile.in -text
osResultDemo/OSResultDemo.cpp -text
osSolverDemo/Makefile.in -text
osSolverDemo/OSSolverDemo.cpp -text
template/Makefile.in -text
template/template.cpp -text
