* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
Excel/OSWebServiceGUI.xlsm -text
Excel/clsOSInstance.cls -text
Excel/clsws_OSSolverServiceServic.cls -text
Excel/parIncVBA.xlsm -text
/INSTALL -text
/LICENSE -text
MSVisualStudio-v9/VISUALSTUDIOREADME.txt -text
MSVisualStudio-v9/algorithmicDiff/algorithmicDiff.vcproj -text
MSVisualStudio-v9/algorithmicDiff/algorithmicDiff.vcproj.user -text
MSVisualStudio-v9/branchCutPrice/branchCutPrice.vcproj -text
MSVisualStudio-v9/branchCutPrice/branchCutPrice.vcproj.user -text
MSVisualStudio-v9/cglCuts/cglCuts.vcproj -text
MSVisualStudio-v9/cglCuts/cglCuts.vcproj.user -text
MSVisualStudio-v9/instanceGenerator/instanceGenerator.vcproj -text
MSVisualStudio-v9/instanceGenerator/instanceGenerator.vcproj.user -text
MSVisualStudio-v9/osDip/osDip.vcproj -text
MSVisualStudio-v9/osDip/osDip.vcproj.user -text
MSVisualStudio-v9/osExamples.sln -text
MSVisualStudio-v9/osModificationDemo/osModificationDemo.vcproj -text
MSVisualStudio-v9/osModificationDemo/osModificationDemo.vcproj.user -text
MSVisualStudio-v9/osRemoteTest/osRemoteTest.vcproj -text
MSVisualStudio-v9/osRemoteTest/osRemoteTest.vcproj.user -text
MSVisualStudio-v9/osResultDemo/osResultDemo.vcproj -text
MSVisualStudio-v9/osResultDemo/osResultDemo.vcproj.user -text
MSVisualStudio-v9/osSolverDemo/osSolverDemo.vcproj -text
MSVisualStudio-v9/osSolverDemo/osSolverDemo.vcproj.user -text
MSVisualStudio-v9/template/template.vcproj -text
MSVisualStudio-v9/template/template.vcproj.user -text
/Makefile.Examples.in -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
algorithmicDiff/Makefile.in -text
algorithmicDiff/OSAlgorithmicDiffTest.cpp -text
branchCutPrice/AUTHORS -text
branchCutPrice/LICENSE -text
branchCutPrice/LP/OS_lp.cpp -text
branchCutPrice/Makefile.in -text
branchCutPrice/Member/OS.cpp -text
branchCutPrice/Member/OS_cut.cpp -text
branchCutPrice/Member/OS_init.cpp -text
branchCutPrice/Member/OS_packer.cpp -text
branchCutPrice/Member/OS_user_data.cpp -text
branchCutPrice/Member/OS_var.cpp -text
branchCutPrice/TM/OS_tm.cpp -text
branchCutPrice/examplefiles.txt -text
branchCutPrice/include/OS.hpp -text
branchCutPrice/include/OS_cut.hpp -text
branchCutPrice/include/OS_init.hpp -text
branchCutPrice/include/OS_lp.hpp -text
branchCutPrice/include/OS_packer.hpp -text
branchCutPrice/include/OS_tm.hpp -text
branchCutPrice/include/OS_user_data.hpp -text
branchCutPrice/include/OS_var.hpp -text
cglCuts/Makefile.in -text
cglCuts/OSCglCuts.cpp -text
/configure -text
/configure.ac -text
data/amplFiles/bonminEx1.nl -text
data/amplFiles/eastborne.mod -text
data/amplFiles/eastborne.nl -text
data/configFiles/kill.config -text
data/configFiles/testLocal.config -text
data/configFiles/testRemote.config -text
data/configFiles/testRemoteKnock.config -text
data/configFiles/testRemoteRetrieve.config -text
data/configFiles/testRemoteSend.config -text
data/configFiles/testlocalclp.config -text
data/dipFiles/genAssign.osil -text
data/dipFiles/genAssign.osol -text
data/dipFiles/osdip.parm -text
data/dipFiles/smallIPBook.osil -text
data/dipFiles/smallIPBook.osol -text
data/dipFiles/spl1-b.osol -text
data/dipFiles/spl1.osil -text
data/dipFiles/spl1.osol -text
data/dipFiles/spl2-b.osol -text
data/dipFiles/spl2.osil -text
data/dipFiles/spl2.osol -text
data/dipFiles/spl3.osil -text
data/dipFiles/spl3.osol -text
data/gamsFiles/CoinOS.opt -text
data/gamsFiles/eastborne.gms -text
data/matlabFiles/osdip.parm -text
data/mpsFiles/parinc.mps -text
data/osdip.parm -text
data/osilFiles/CppADTestLag.osil -text
data/osilFiles/eastborne.osil -text
data/osilFiles/nonconvex.osil -text
data/osilFiles/p0033.osil -text
data/osilFiles/parincLinear.osil -text
data/osilFiles/parincQuadratic.osil -text
data/osilFiles/rosenbrockmod.osil -text
data/osilFiles/tmp5.osil -text
data/osilFiles/wayneQuadratic.osil -text
data/osolFiles/kill.osol -text
data/osolFiles/parsertest.osol -text
data/osolFiles/remoteSolve1.osol -text
data/osolFiles/remoteSolve2.osol -text
data/osolFiles/retrieve.osol -text
data/osolFiles/sendWithJobID.osol -text
data/osolFiles/solveroptions.osol -text
data/osolFiles/tmp5.osol -text
data/osplFiles/demo.ospl -text
data/osplFiles/knock.ospl -text
data/osplFiles/result.ospl -text
instanceGenerator/Makefile.in -text
instanceGenerator/OSInstanceGenerator.cpp -text
osDip/Makefile.in -text
osDip/OSDipApp.cpp -text
osDip/OSDipApp.h -text
osDip/OSDipAppOld.cpp -text
osDip/OSDipBlockSolver.cpp -text
osDip/OSDipBlockSolver.h -text
osDip/OSDipBlockSolverFactory.cpp -text
osDip/OSDipBlockSolverFactory.h -text
osDip/OSDipFactoryInitializer.h -text
osDip/OSDipInterface.cpp -text
osDip/OSDipInterface.h -text
osDip/OSDipParam.h -text
osDip/OSDip_Main.cpp -text
osDip/osdip.parm.in -text
osDip/own.sty -text
osDip/solvers/OSDipBlockBearcatSolver.cpp -text
osDip/solvers/OSDipBlockBearcatSolver.h -text
osDip/solvers/OSDipBlockCoinSolver.cpp -text
osDip/solvers/OSDipBlockCoinSolver.h -text
osDip/solvers/OSDipBlockSlpSolver.cpp -text
osDip/solvers/OSDipBlockSlpSolver.h -text
osJavaDemo/OSJavaDemo.java -text
osJavaDemo/OSParameter.xml -text
osJavaDemo/answer.osrl -text
osJavaDemo/parincLinear.osil -text
osModificationDemo/Makefile.in -text
osModificationDemo/OSModificationDemo.cpp -text
osRemoteTest/Makefile.in -text
osRemoteTest/OSRemoteTest.cpp -text
osResultDemo/Makefile.in -text
osResultDemo/OSResultDemo.cpp -text
osSolverDemo/Makefile.in -text
osSolverDemo/OSSolverDemo.cpp -text
template/Makefile.in -text
template/template.cpp -text
